body {
  font-family: arial;
  font-size: 120%;
  margin: 0;
}

.menu {
  background-color: #eee;
  padding: 1em 2em;
  margin-bottom: 1em;
}

.menu a {
  color: #333;
  padding: 0.5em 2em;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.rodape {
  background-color: #eee;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}