body {
  font-family: arial;
  font-size: 120%;
  margin: 0;
}

.menu {
  background-color: #eee;
  padding: 1em 2em;
  margin-bottom: 1em;
}

.menu a {
  color: #333;
  padding: 0.5em 2em;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.rodape {
  background-color: #eee;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}

.filme {
  display: flex;
  margin: 1em;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.filme .poster {
  flex: 0 0 200px;
}

.filme .conteudo {
  flex-grow: 1;
  padding-left: 1em;
}

.filme h3 {
  margin: 0;
}

.filme .generos {
  font-size: 80%;
}

.fav {
  background-color: rgb(251,207,207);
}